{%extends "layout.html"%}
{%block container%}



<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default mt-5">

        <a href="Alumnos" class="inline-flex items-center w-full gap-2 text-white bg-green-500 hover:bg-green-600 font-medium rounded-base text-sm px-4 py-2.5 focus:outline-none">
            Nuevo
        </a>

    <table class="w-full text-sm text-left rtl:text-right text-body">

        <th scope="row" ead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
            <tr>
                <th scope="row"  class="px-6 py-3 font-medium">
                    Nombre
                </th>
                <th scope="row"  class="px-6 py-3 font-medium">
                    Apaterno
                </th>
                <th scope="row"  class="px-6 py-3 font-medium">
                    Correo
                </th>
                <th scope="row"  class="px-6 py-3 font-medium">
                    Editar
                </th>
                <th scope="row"  class="px-6 py-3 font-medium">
                    Detalles
                </th>
                <th scope="row"  class="px-6 py-3 font-medium">
                    Eliminar
                </th>
            </tr>
        </thead>

        <tbody>
            {%for alum in alumno%}
            <tr class="bg-neutral-primary border-b border-default">
                <th scope="row"  class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    {{alum.nombre}}
                </th>
                <td class="px-6 py-4">{{alum.aPaterno}}</td>
                <td class="px-6 py-4">{{alum.email}}</td>

                <td class="px-6 py-4">
                    <a href="modificar?id={{alum.id}}" class="text-white bg-success -500 hover:bg-success -600 rounded-base text-sm px-4 py-2">
                        Editar
                    </a>
                </td>

                <td class="px-6 py-4">
                    <a href="detalles?id={{alum.id}}" class="text-white bg-purple-500 hover:bg-purple-600 rounded-base text-sm px-4 py-2">
                        Detalles
                    </a>
                </td>

                <td class="px-6 py-4">
                    <a href="eliminar?id={{alum.id}}" class="text-white bg-red-500 hover:bg-red-600 rounded-base text-sm px-4 py-2">
                        Eliminar
                    </a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>


{%endblock%}
